<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://soton.ac.uk/models/eventb/diagrams"
            class="ac.soton.eventb.emf.diagrams.DiagramsPackage"
            genModel="model/diagrams.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ac.soton.eventb.emf.diagrams.toolbar">
            <separator
                  name="validations">
            </separator>
            <separator
                  name="transformations">
            </separator>
            <separator
                  name="animations">
            </separator>
            <!--command
                  commandId="ac.soton.eventb.statemachines.diagram.ValidateDiagramAction"
                  icon="icons/Validate.png"
                  style="push">
            </command-->
            <separator
                  name="additions">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
