<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.emf.diagrams.generator.rule" name="generator rule" schema="schema/ac.soton.eventb.emf.diagrams.generator.rule.exsd"/>
   <extension-point id="ac.soton.eventb.emf.diagrams.validator" name="validator" schema="schema/ac.soton.eventb.emf.diagrams.validator.exsd"/>


<extension
      name="EventB Diagrams"
      point="org.eclipse.ui.menus">
  <menuContribution
        allPopups="true"
        locationURI="toolbar:ac.soton.eventb.emf.diagrams.toolbar">
     <command
           commandId="ac.soton.eventb.emf.diagrams.generator.generateEventB"
           icon="icons/UtoB.png"
           label="generate"
           style="push">
     </command>
     <command
           commandId="ac.soton.eventb.emf.diagrams.generator.validate"
           icon="icons/Validate.png"
           label="validate"
           style="push">
     </command>
  </menuContribution>
</extension>
<extension
     point="org.eclipse.ui.commands">
  <command
        description="command.description.generate"
        id="ac.soton.eventb.emf.diagrams.generator.generateEventB"
        name="command.name.generate">
  </command>
  <command
        description="validate the diagram model"
        id="ac.soton.eventb.emf.diagrams.generator.validate"
        name="validate">
  </command>
</extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.emf.diagrams.generator.actions.GenerateAction"
            commandId="ac.soton.eventb.emf.diagrams.generator.generateEventB">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditor">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ac.soton.eventb.emf.diagrams.generator.actions.ValidateAction"
            commandId="ac.soton.eventb.emf.diagrams.generator.validate">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditor">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   
   <!--extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.emf.diagrams.generator.actions.GenerateAction"
            commandId="ac.soton.eventb.emf.diagrams.generator.generateEventB">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <or>
                     <adapt
                           type="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtension">
                     </adapt>
                     <instanceof
                           value="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtension">
                     </instanceof>
                     <systemTest
                           property="ac.soton.eventb.emf.diagrams.generator.systemTest1"
                           value="ac.soton.eventb.emf.diagrams.generator.systemTest1">
                     </systemTest>
                     <test
                           property="ac.soton.eventb.emf.diagrams.generator.test1">
                     </test></or>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension-->


</plugin>
