<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="ac.soton.eventb.statemachines.animation.policies.TransitionEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="ac.soton.eventb.statemachines.diagram.edit.parts.TransitionEditPart(ac.soton.eventb.statemachines.diagram)"
               id="TransitionEditPart">
         </object>
         <object
               class="ac.soton.eventb.statemachines.diagram.edit.parts.TransitionGhostEditPart(ac.soton.eventb.statemachines.diagram)"
               id="TransitionGhostEditPart">
         </object>
         <context
               editparts="TransitionEditPart, TransitionGhostEditPart">
         </context>
      </editpolicyProvider>
   </extension>
   <extension
         point="de.prob.core.animation">
      <listener
            class="ac.soton.eventb.statemachines.animation.listeners.AnimationListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:ac.soton.eventb.emf.diagrams.toolbar?after=animations">
         <command
               commandId="ac.soton.eventb.statemachines.animation.AnimateAction"
               icon="icons/Animate.png"
               style="push">
         </command>
         <command
               commandId="ac.soton.eventb.statemachines.animation.StopAction"
               icon="icons/StopAnimation.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.animate"
            id="ac.soton.eventb.statemachines.animation.AnimateAction"
            name="%command.name.run">
      </command>
      <command
            description="%command.description.stop"
            id="ac.soton.eventb.statemachines.animation.StopAction"
            name="%command.name.stop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.statemachines.animation2.actions.AnimateAction"
            commandId="ac.soton.eventb.statemachines.animation.AnimateAction">
         <activeWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="ac.soton.eventb.statemachines.diagram.part.StatemachinesDiagramEditorID">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ac.soton.eventb.statemachines.animation2.actions.StopAction"
            commandId="ac.soton.eventb.statemachines.animation.StopAction">
         <activeWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="ac.soton.eventb.statemachines.diagram.part.StatemachinesDiagramEditorID">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>

</plugin>
