<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.emf.diagrams.navigator.diagramProviders" name="%extension-point.name" schema="schema//ac.soton.eventb.emf.diagrams.navigator.diagramProviders.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="ac.soton.eventb.emf.diagrams.navigator.provider.DiagramActionProvider"
            id="ac.soton.eventb.emf.diagrams.navigator.provider.diagramActionProvider">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
                  <instanceof
                        value="ac.soton.eventb.emf.diagrams.Diagram">
                  </instanceof>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.eventb.emf.diagrams.navigator.provider.diagramActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.emf.diagrams.navigator.refiner.DiagramCopier"
            id="diagramCopierMachine"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.machineRefiner"
            second-participant-id="ac.soton.eventb.emf.diagrams.navigator.diagramCopierMachine">
      </Order>
      <Participant
            class="ac.soton.eventb.emf.diagrams.navigator.refiner.GeneratedCopier"
            id="generatedCopierMachine"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.machineRefiner"
            second-participant-id="ac.soton.eventb.emf.diagrams.navigator.generatedCopierMachine">
      </Order>
      <Participant
            class="ac.soton.eventb.emf.diagrams.navigator.refiner.GeneratedCopier"
            id="generatedCopierContext"
            refinement-id="org.eventb.core.contextRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.contextRefiner"
            second-participant-id="ac.soton.eventb.emf.diagrams.navigator.generatedCopierContext">
      </Order>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.emf.diagrams.navigator.commands.deleteDiagramElement"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="ac.soton.eventb.emf.diagrams.Diagram">
                           </instanceof>
                        </adapt>
                        <test
                              property="ac.soton.eventb.emf.core.extension.navigator.eventBRootChild"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <menu
               icon="icons/ChangeDescription.gif"
               id="ac.soton.eventb.emf.diagrams.navigator.menus.refactoring"
               label="iUML-B Refactoring ">
            <command
                  commandId="ac.soton.eventb.emf.diagrams.navigator.commands.commit"
                  icon="icons/Commit.png"
                  label="Commit Changes"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.eventb.core.IMachineRoot">
                           </instanceof>
                           <instanceof
                                 value="org.eventb.core.IContextRoot">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ac.soton.eventb.emf.diagrams.navigator.commands.revert"
                  icon="icons/Revert.png"
                  label="Revert Changes"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.eventb.core.IMachineRoot">
                           </instanceof>
                           <instanceof
                                 value="org.eventb.core.IContextRoot">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <menu
               icon="icons/IUMLB.png"
               id="ac.soton.eventb.emf.diagrams.navigator.addDiagram"
               label="Add iUML-B....">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ac.soton.eventb.emf.diagrams.iUMLB"
            defaultHandler="ac.soton.eventb.emf.diagrams.navigator.handler.CommitChangesHandler"
            description="Commit all iUML-B changes at this refinement level"
            id="ac.soton.eventb.emf.diagrams.navigator.commands.commit"
            name="Commit Changes">
      </command>
      <command
            categoryId="ac.soton.eventb.emf.diagrams.iUMLB"
            defaultHandler="ac.soton.eventb.emf.diagrams.navigator.handler.RevertChangesHandler"
            id="ac.soton.eventb.emf.diagrams.navigator.commands.revert"
            name="Revert Changes">
      </command>
      <command
            categoryId="ac.soton.eventb.emf.diagrams.iUMLB"
            defaultHandler="ac.soton.eventb.emf.diagrams.navigator.handler.DeleteDiagramElementHandler"
            id="ac.soton.eventb.emf.diagrams.navigator.commands.deleteDiagramElement"
            name="Delete">
      </command>
      <category
        description="Commands associated with iUML-B Diagrams"
        id="ac.soton.eventb.emf.diagrams.iUMLB"
        name="iUML-B Commands">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ac.soton.eventb.emf.diagrams.navigator.DiagramUpdaterListener">
      </startup>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"
            type="changes">
      </parser>
      <parser
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"
            type="proxymap">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="changes"
            id="eventBChangeDescription"
            name="Event-B Change Description"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="proxymap"
            id="eventBChangeProxyMap"
            name="Event-B Change Description Proxy Map"
            priority="normal">
      </content-type>
  </extension>
  <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="ac.soton.eventb.emf.diagrams.navigator.refactor.ChangesStatusDec"
            id="ac.soton.eventb.emf.diagrams.navigator.refactor.changesStatus"
            label="%decorator.changesStatus.label"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.rodinp.core.IRodinElement">
               </objectClass>
               <objectClass
                     name="fr.systerel.explorer.IElementNode">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <page
            class="ac.soton.eventb.emf.diagrams.navigator.preferences.IUMLBPreferencesPage"
            id="ac.soton.eventb.iumlb"
            name="%prefpage.ac.soton.eventb.iumlb">
      </page>
   </extension>
</plugin>
