<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.emf.diagrams.navigator.diagramProviders" name="%extension-point.name" schema="schema//ac.soton.eventb.emf.diagrams.navigator.diagramProviders.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="ac.soton.eventb.emf.diagrams.navigator.provider.DiagramActionProvider"
            id="ac.soton.eventb.emf.diagrams.navigator.provider.diagramActionProvider">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
                  <instanceof
                        value="ac.soton.eventb.emf.diagrams.Diagram">
                  </instanceof>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.eventb.emf.diagrams.navigator.provider.diagramActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.emf.diagrams.navigator.refiner.DiagramCopier"
            id="diagramCopierMachine"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.machineRefiner"
            second-participant-id="ac.soton.eventb.emf.diagrams.navigator.diagramCopierMachine">
      </Order>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <!--command
               commandId="ac.soton.eventb.statemachines.navigator.commands.addStatemachine"
               icon="icons/NewStatemachine.gif"
               label="Add Statemachine"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eventb.core.IMachineRoot">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command-->
         <command
               commandId="ac.soton.eventb.emf.diagrams.navigator.commands.deleteDiagramElement"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="ac.soton.eventb.emf.diagrams.Diagram">
                           </instanceof>
                        </adapt>
                        <test
                              property="ac.soton.eventb.emf.core.extension.navigator.eventBRootChild"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <!--command
            defaultHandler="ac.soton.eventb.statemachines.navigator.actions.AddStatemachineHandler"
            id="ac.soton.eventb.statemachines.navigator.commands.addStatemachine"
            name="Add Statemachine">
      </command-->
      <command
            defaultHandler="ac.soton.eventb.emf.diagrams.navigator.handler.DeleteDiagramElementHandler"
            id="ac.soton.eventb.emf.diagrams.navigator.commands.deleteDiagramElement"
            name="Delete">
      </command>
   </extension>
   
</plugin>
