<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.emf.diagrams.navigator.diagramProviders" name="%extension-point.name" schema="schema//ac.soton.eventb.emf.diagrams.navigator.diagramProviders.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="ac.soton.eventb.emf.diagrams.navigator.provider.DiagramActionProvider"
            id="ac.soton.eventb.emf.diagrams.navigator.provider.diagramActionProvider">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
                  <instanceof
                        value="ac.soton.eventb.emf.diagrams.Diagram">
                  </instanceof>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.eventb.emf.diagrams.navigator.provider.diagramActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

</plugin>
