<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.eventb.statemachines.navigator.providers.StatemachinesContentProvider"
            id="ac.soton.eventb.statemachines.navigator.statemachiensContent"
            labelProvider="ac.soton.eventb.statemachines.navigator.providers.StatemachinesLabelProvider"
            name="%navigatorContent.statemachines">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="ac.soton.eventb.statemachines.diagram.navigator.StatemachinesDomainNavigatorItem">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ac.soton.eventb.statemachines.diagram.navigator.StatemachinesDomainNavigatorItem">
               </instanceof>
            </or></possibleChildren>
         <commonSorter
               class="ac.soton.eventb.statemachines.navigator.StatemachinesAntiSorter">
         </commonSorter>
         <actionProvider
               class="ac.soton.eventb.statemachines.navigator.providers.StatemachinesActionProvider">
            <enablement>
               <instanceof
                     value="ac.soton.eventb.statemachines.diagram.navigator.StatemachinesDomainNavigatorItem">
               </instanceof>
               <test
                     property="ac.soton.eventb.statemachines.navigator.isRoot"
                     value="true">
               </test>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.statemachines.navigator.filters.AnnotationFilter"
            id="ac.soton.eventb.statemachines.navigator.annotationFilter"
            name="%commonFilter.annotation">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.statemachines.navigator.filters.StateFilter"
            id="ac.soton.eventb.statemachines.navigator.stateFilter"
            name="%commonFilter.state">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.statemachines.navigator.filters.TransitionFilter"
            id="ac.soton.eventb.statemachines.navigator.transitionFilter"
            name="%commonFilter.transition">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.statemachines.navigator.statemachiensContent">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.statemachines.navigator.annotationFilter">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.statemachines.navigator.stateFilter">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.statemachines.navigator.transitionFilter">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ac.soton.eventb.statemachines.navigator.statemachinesActionContribution"
            targetID="fr.systerel.explorer.navigator.view">
         <action
               class="ac.soton.eventb.statemachines.navigator.actions.AddActionDelegate"
               enablesFor="1"
               id="statemachine"
               label="%action.add.name"
               style="pulldown"
               toolbarPath="new">
            <enablement>
               <or>
                  <objectClass
                        name="org.eventb.core.IMachineRoot">
                  </objectClass>
                  <objectClass
                        name="ac.soton.eventb.statemachines.diagram.navigator.StatemachinesDomainNavigatorItem">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.eventb.statemachines.navigator.StatemachinesDomainNavigatorItemTester"
            id="ac.soton.eventb.statemachines.navigator.StatemachinesDomainNavigatorItemTester"
            namespace="ac.soton.eventb.statemachines.navigator"
            properties="isRoot"
            type="ac.soton.eventb.statemachines.diagram.navigator.StatemachinesDomainNavigatorItem">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.statemachines.navigator.commands.refineWithStatemachines"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="fr.systerel.explorer.navigator.view">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="org.eventb.core.IMachineRoot">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <menu
               label="Delete Generated By...">
            <command
                  commandId="ac.soton.eventb.statemachines.navigator.commands.deleteGeneratedByStatemachines">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activePartId">
                        <equals
                              value="fr.systerel.explorer.navigator.view">
                        </equals>
                     </with>
                     <with
                           variable="selection">
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eventb.core.IMachineRoot">
                           </instanceof>
                        </iterate>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.statemachines.navigator.commands.RefineCommand"
            commandId="ac.soton.eventb.statemachines.navigator.commands.refineWithStatemachines">
      </handler>
      <handler
            class="ac.soton.eventb.statemachines.navigator.commands.DeleteGeneratedByStatemachinesCommand"
            commandId="ac.soton.eventb.statemachines.navigator.commands.deleteGeneratedByStatemachines">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ac.soton.eventb.statemachines.navigator.commands.refineWithStatemachines"
            name="Refine with Statemachines">
      </command>
      <command
            id="ac.soton.eventb.statemachines.navigator.commands.deleteGeneratedByStatemachines"
            name="Statemachines">
      </command>
   </extension><!--
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.statemachines.navigator.refiner.StatemachineRefiner"
            id="statemachineRefiner"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
   </extension>-->

</plugin>
