<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.statemachines.navigator.filters.NodeFilter"
            id="ac.soton.eventb.statemachines.navigator.nodeFilter"
            name="%commonFilter.node">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.statemachines.navigator.filters.TransitionFilter"
            id="ac.soton.eventb.statemachines.navigator.transitionFilter"
            name="%commonFilter.transition">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.statemachines.navigator.nodeFilter">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.statemachines.navigator.transitionFilter">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.statemachines.navigator.commands.addStatemachine"
               icon="icons/NewStatemachine.gif"
               label="Add Statemachine"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eventb.core.IMachineRoot">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ac.soton.eventb.statemachines.navigator.actions.AddStatemachineHandler"
            id="ac.soton.eventb.statemachines.navigator.commands.addStatemachine"
            name="Add Statemachine">
      </command>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.eventb.statemachines.provider.StatemachinesItemProviderAdapterFactory"></factory>
   </extension>
   <extension
         point="ac.soton.eventb.emf.diagrams.navigator.diagramProviders">
      <provider
            class="ac.soton.eventb.statemachines.navigator.providers.StatemachineDiagramProvider"
            type="Statemachine">
      </provider>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.statemachines.navigator.refiner.StatemachineRefiner"
            id="statemachineRefiner"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Participant
            class="ac.soton.eventb.statemachines.navigator.refiner.RefinedEnumerationStatemachineRefiner"
            id="RefinedEnumerationStatemachineRefiner"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
   </extension>

</plugin>
