<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ac.soton.eventb.statemachines.view.InteractionView"
            icon="icons/Interaction.gif"
            id="ac.soton.eventb.statemachines.view.interaction"
            name="Statemachines Interaction View"
            restorable="true">
      </view>
   </extension>

</plugin>
