<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.classdiagrams.navigator.commands.addClassdiagram"
               label="Add Classdiagram"
               style="push">
         </command>
         <command
               commandId="ac.soton.eventb.classdiagrams.navigator.commands.deleteClassdiagram"
               label="Delete Classdiagram"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ac.soton.eventb.classdiagrams.navigator.actions.AddClassdiagramHandler"
            id="ac.soton.eventb.classdiagrams.navigator.commands.addClassdiagram"
            name="Add Classdiagram">
      </command>
      <command
            defaultHandler="ac.soton.eventb.classdiagrams.navigator.actions.DeleteClassdiagramHandler"
            id="ac.soton.eventb.classdiagrams.navigator.commands.deleteClassdiagram"
            name="Delete">
      </command>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.eventb.classdiagrams.provider.ClassdiagramsItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         point="ac.soton.eventb.emf.diagrams.navigator.diagramProviders">
      <provider
            class="ac.soton.eventb.classdiagrams.navigator.providers.ClassdiagramDiagramProvider"
            type="Classdiagram">
      </provider>
   </extension>

</plugin>
